*.lyx~
KitchenHeadSMD/manual/images/.DS_Store
KitchenHeadSMD/.DS_Store
.DS_Store


## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync